---
layout: archive
title: "Research lines"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<!--
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
-->

<p>One broad line of my research investigates the drivers and consequences of <b>political parties’ responsiveness to voters<b> on the cultural dimension of political conflict, particularly on the core issue of immigration. In this research I also touch upon party competition issues and broader dynamics of political representation.<p>

<p>A second line focuses on the formation and change of <b>political preferences and attitudes<b>. I am particularly interested in how political parties, policies, institutions and regimes shape public opinion about immigration, democratic governance, international cooperation and other issues.<p> 

# Research projects

## Current research projects

Details coming soon!

## Past research projects

Mercator Dialogue on Asylum and Migration ([MEDAM](https://www.ifw-kiel.de/institute/mercator-dialogue-on-asylum-and-migration-medam/)) Project. Co-hosted by the [Migration Policy Centre](https://migrationpolicycentre.eu) at the European University Institute (My role: Research Fellow and task lead, 2020-2022).
