---
layout: archive
title: "Research lines"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<!--
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
-->

<p>One broad line of my research investigates the drivers and consequences of <b>political parties’ responsiveness to voters</b> on the cultural dimension of political conflict, particularly in relation to the core issue of immigration. In this research I also touch upon party competition issues and broader dynamics of political representation.<p>

<p>A second line focuses on the formation and change of <b>political preferences and attitudes</b>. I am particularly interested in how political parties, policies, institutions and regimes shape public opinion about immigration, democratic governance, international cooperation and other issues.<p> 

<p>Take a look at my <a href="https://alinavranceanu.github.io/publications/">Publications</a> or <a href="https://scholar.google.com/citations?user=a5rXflYAAAAJ&hl=en">Google Scholar profile</a> to find out more.<p>

  
<h1>Research projects</h1>
  
<h2>Current research projects</h2>

Details coming soon!

<h2>Past research projects</h2>
<ul>
  <li>Mercator Dialogue on Asylum and Migration (<a href="https://www.ifw-kiel.de/institute/mercator-dialogue-on-asylum-and-migration-medam/">MEDAM</a>) Project. Co-hosted by the <a href="https://migrationpolicycentre.eu">Migration Policy Centre</a> at the European University Institute (2020-2022). Role: Research Fellow leading research on public opinion surveys and conjoint experiments.
    <div style="padding-left: 30px;">
  Publications (project outputs): Vranceanu A, E Dinas, T Heidland, and M Ruhs (2023). The European refugee crisis and public support for the externalisation of migration management. European Journal of Political Research. Available Open Access <a href="https://doi.org/10.1111/1475-6765.12565">here</a>.
</div>

</li>
</ul>

