---
layout: archive
title: "Research lines"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<!--
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
-->

One broad line of my research investigates the drivers and consequences of **political parties’ responsiveness to voters** on the cultural dimension of political conflict, particularly on the core issue of immigration. In this research I also touch upon party competition issues and broader dynamics of political representation.

A second line focuses on the formation and change of **political preferences and attitudes**. I am particularly interested in how political parties, policies, institutions and regimes shape public opinion about immigration, democratic governance, international cooperation and other issues. 
