---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also view my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Journal articles (Peer-reviewed) </h2>

<strong>Vranceanu, Alina</strong> (2026). Do voters polarise in response to elite dissensus on immigration? <i>West European Politics</i> 49(1): 30-59.

<strong>Vranceanu, Alina</strong>, and Bilyana Petrova (2025). Welfare policy and immigration attitudes in Western Europe. <i>European Journal of Political Research</i> 64(4): 1783-1804.

Kriesi, Hanspeter, and <strong>Vranceanu, Alina</strong> (2024). Voter preferences for EU asylum policies: The role of government cues. <i>Government and Opposition</i> 59(3): 888-910.

<h2>Book chapters </h2>

<h2>Other publications </h2>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



