---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also view my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Journal articles (Peer-reviewed) </h2>

<p><strong>Vranceanu, Alina</strong> (2026). Do voters polarise in response to elite dissensus on immigration? <i>West European Politics</i> 49(1): 30-59. <a href="{{https://www.cambridge.org/core/journals/european-journal-of-political-research/article/welfare-policy-and-immigration-attitudes-in-western-europe/C69A593C9D14C975F6C3B7C797DAE456}}">[Article].</a><p>

<p><strong>Vranceanu, Alina</strong>, and Bilyana Petrova (2025). Welfare policy and immigration attitudes in Western Europe. <i>European Journal of Political Research</i> 64(4): 1783-1804.<p>

<p>Kriesi, Hanspeter, and <strong>Alina Vranceanu</strong> (2024). Voter preferences for EU asylum policies: The role of government cues. <i>Government and Opposition</i> 59(3): 888-910.<p>

<p><strong>Vranceanu, Alina</strong>, Elias Dinas, Tobias Heidland, and Martin Ruhs (2023). The European refugee crisis and public support for the externalisation of migration management. <i>European Journal of Political Research</i> 62(4): 1146-1467.<p>

<p><strong>Vranceanu, Alina</strong> (2022). How do cross-pressures affect immigration attitudes? Party and educational influences. <i>West European Politics</i> 45(7): 1433-1461.<p>

<p><strong>Vranceanu, Alina</strong>, and Romain Lachat (2021). Do parties inuence public opinion on immigration? Evidence from Europe. <i>Journal of Elections, Public Opinion and Parties</i> 31(1): 1-21.<p>

<p><strong>Vranceanu, Alina</strong> (2019). The impact of contextual factors on party responsiveness regarding immigration issues. <i>Party Politics</i> 25(4): 583-593.<p>

<h2>Book chapters </h2>

<p>Dennison, James, and <strong>Alina Vranceanu</strong> (2024). Public opinion on immigration: Is it converging globally or regionally? In Ettore Recchi and Mirna Saffi (Eds.) <i>Handbook of Human Mobility and Migration</i>. Cheltenham: Edward Elgar, 182-201.<p>

<p>Dennison, James, and <strong>Alina Vranceanu</strong> (2022). Public opinion and the politics of immigration. In Peter Scholten (Ed.) <i>Introduction to migration studies. An interactive guide to the literatures on migration and diversity.</i>. Springer, 375-388.<p>

<h2>Other publications </h2>

<p>Jeannet, Anne-Marie, Lenka Drazanova, and <strong>Alina Vranceanu</strong> (2024). Editorial: Agents of political socialization in the 21st century. <i>Front. Polit. Sci.</i> 6:1428896. 

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->


