---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>PhD level</h2>

  <p>Introduction to research design in social sciences (Universitat Autònoma de Barcelona 2025)<p>

<h2>MA level</h2>

  <p>Socio-political marketing (Universitat Autònoma de Barcelona, 2025, 2026) – Main instructor/co-instructor<p>

  <p>Fundamentals of Political and Social Research (Universitat Pompeu Fabra 2022, 2023) – Main instructor<p>

<h2>BA level</h2>

    <p>Introduction to Political Science (Universitat Pompeu Fabra 2015, 2016, 2017) – Seminar instructor<p>

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
      -->
