---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Courses at PhD level</h2>

<p>Introduction to research design in social sciences (UAB 2025)<p>

<h2>Courses at MA level</h2>

  <p>Socio-political marketing (UAB, 2025, 2026) – Main instructor/co-instructor<p>

  <p>Fundamentals of Political and Social Research (UPF 2022, 2023) – Main instructor<p>

<h2>Courses at BA level</h2>

    <p>Introduction to Political Science (UPF 2015, 2016, 2017) – Seminar instructor<p>

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
      -->
